:root {
    --background-color-1: #000000;
    --background-color-2: #111111;
    --background-color-3: #f7f7f7;
    --text-1: #FFFFFF;
    --text-2: #b2b2b2;
    --text-3: #ccc;
    --text-4: #595959;
    --text-5: #332200;
    --border-color-1: #ededed;
    --btn-background-color-1: #FBB803;
    --btn-background-hover-1: #f2a50c;
    --btn-color-1: #000000;
}