.Footer {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #70757a;
}

.Footer .local {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #dadce0;
    padding: 15px 30px;
    font-size: 15px;
}

.Footer .local span {
    align-self: flex-start;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
}

.footer-data ul {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.footer-data a {
    color: #70757a;
    text-decoration: none;
    padding: 0 15px;
    font-size: 14px;
}

.footer-data a:hover {
    text-decoration: underline;
}

@media (max-width: 820px) {
    .footer-nav {
        justify-content: space-evenly;
    }
    
}