:root {
    --bg-color: #F0F0F0;
    --color-white: #FFFFFF;
    --main-text-color: #2C2C2C;
    --text-color: #989898;
    --placeholder-color: #B4B6C1; 
    --border: #EBF0FA;
    --color-green: #00A335;
    --hover: #017C29;
}